<template>
  <div class="home">Dashboard</div>
</template>

<script>
export default {
  name: 'Dashbaord',
  components: {},
  data() {
    return {
      btns: [
        'general',
        'form',
        'table',
        'test',
        'render',
        'accounList',
        'carouselPage',
        'accordionPage',
        'richtexteditorPage',
        'chatroomPage',
      ],
    };
  },
  methods: {
    toDevComp(name) {
      this.$router.push({ name });
    },
  },
};
</script>

<style lang="scss">
.btn-wrapper {
  margin-top: 10px;

  .btn + .btn {
    margin-left: 10px;
  }
}
</style>
