<template>
  <div class="home">
    {{ $route.name }}

    <p>test api response: {{ res }}</p>

    <button @click="testMutation">mutate example</button>
    <button @click="testAction">action example</button>
    <p>example state-count: {{ stateCount }}</p>
    <p>example getter-multiCount: {{ multiCount }}</p>
  </div>
</template>

<script>
import { getUsersAPI } from '@/api/test';
import { module } from '@/store';

export default {
  name: 'Home',
  components: {},
  data() {
    return {
      res: [],
    };
  },
  computed: {
    ...module('app').mapState({
      stateCount: (state) => state.count,
    }),
    ...module('app').mapGetters(['multiCount']),
  },
  methods: {
    ...module('app').mapMutations(['mutateCount']),
    ...module('app').mapActions(['actionCount']),
    async testAPI() {
      const res = await getUsersAPI();
      this.res = res;
    },
    testMutation() {
      this.mutateCount();
    },
    testAction() {
      this.actionCount();
    },
  },
  created() {
    this.testAPI();
    this.testMutation();
    this.testAction();
  },
};
</script>
