<template>
  <div>
    Login
    <button @click.prevent="loginWithAuth">登入</button>
  </div>
</template>

<script>
import writeDynamicRoutes from '@/mixins/writeDynamicRoutes';

export default {
  name: 'Login',
  mixins: [writeDynamicRoutes],
  methods: {
    loginWithAuth() {
      this.writeDynamicRoutes('login');
      this.$router.push({ name: 'dashboardHome' });
    },
    submit() {
      this.$router.push({ name: 'dashboardHome' });
    },
  },
};
</script>
